.btn1 {
  background-color: red;
}
.active {
  display: none;
} */

/* .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.liItem {
  margin: 20px;
  padding: 20px;
  border: 3px solid red;
}

.liItem.active {
  background-color: red;
}
